body
{
	background-color: #67695A;/*#ffff6f1*/
	font-family: "helvetica",arial;/*tipo de letra del cuerpo*/
}

#contenido /*del div="contenido en separado "*/
{
	width: 960px;
	margin: 0 auto;
	text-align: center;
}
label{
	display:block; /*pone espacios cada vez q termnal un label*/
}
h1
{
	color: #4F9D9D;
	font-family: 'Russo One', sans-serif;
}
header hgroup h1{
	border-bottom:solid;
	padding-bottom:10px;/*espacio del borde hacia abajo*/
	border-width:1px;
	border-color:#1d1d1d;
	text-shadow:0px 0px 30px rgba(0,0,0,0.5);
}
nav ul li
{
	display: inline-block; /*para q se ponga de manera horizontal*/
	margin-right: 20px; /*para separar entre letras de los navegadores*/
	color: #1d1d1d;
	cursor: pointer; /*para q aparesca la manita*/
	padding: 5px;
	
	/*animacion retardo al pasar el mouse*/
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
}
nav ul li a /*para quiitar lo subrayado de los enlaces en la navegacion*/
{
	text-decoration: none;/*quita el subrayado*/
}
nav ul li:hover/*para q el estilo del boton cambie cuando pase el mouse*/
{
	background-color: #1d1d1d;
	color: #e44e2d;
	border-radius: 5px;
}
nav ul li a /*para quiitar lo subrayado de los enlaces en la navegacion*/
{
	text-decoration: none;/*quita el subrayado*/
}
a
{
	color: #00A6A6;/*color de los enlaces*/
	font-weight: bold;/*negrita a los enlaces*/
}
#textoPrincipal 
{
	width:900px;
	height: 400px;
	background-color: #67695A;
	color: #fff;/*texto color*/
	margin: 0 auto;
	text-align: left;
	border-radius: 20px; /*para redondear los bordes*/
	padding: 20px;/*para q el texto no se salga de los bordes redondeados*/
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);/*sombras al cuadro*/
}


input {
	border-radius: 5px;
}